main {
  background-color: rgb(20, 21, 32);
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.navbar-brand span {
  color: white;
  font-size: 0.7em;
}

.navbar-brand span i {
  color: white;
  font-size: 0.6em;
}

nav ul li a {
  color:white;
  margin-left: 20px;
  letter-spacing: 3px;
}

.nav-button button {
  color: white;
  font-size: 1.3em;
}

.nav-button button span {
  font-size: 0.8em;
}
  
.background {
  width: 100%;
  height: 830px;
  position: relative;
  display: flex;
  align-items: center;
}

.background::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.background-content {
  position: relative;
  display: flex;
  flex-direction: column; 
  margin-left: 50px;
}

.background-content h1 {
  color: white;
  font-weight: 700;
}

.background-content span:first-child {
  color: white;
  font-size: 1.5em;
}

.background-content span:last-of-type {
  color:white;
  font-size: 1.5em;;
}

.background-content p {
  color: white;
  width: 50%;
  margin: 20px 0;
}

.background-content button:first-of-type {
  border-radius: 0;
  background: #e70914;
  color:white;
  padding: 10px 30px;
}

.background-content button:last-of-type {
  border-radius: 0;
  border: 2px solid white;
  color:white;
  padding: 10px 30px;
}

.popular i {
  font-size: 1.2em;
  color: white;
  margin-left: 20px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px 10px;
}

.details {
  display: inline-block;
}

.btn-holder {
  margin: 10px 0;
}

.showTimeDate {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.showTime {
  flex-direction: column;
  margin: 100px 10px;
  display: flex;
  align-items: center;
  background: #e70914;
  justify-content: center;
  width: 110px;
  height: 110px;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
}

.showTime:hover {
  background-color: white;
  color:red;
  transition: 500ms;
  transform: scale(0.95);
  cursor: pointer;
}

.selectedSelected {
  background-color: white;
  color:red;  
  transform: scale(0.95);
}

.showTimeWeekDay{
  font-size: 1.1rem;
  color: black;
}

.showTimeMonth {
  font-size: 1.1rem;
}

.showTimeDate {
  font-size: 1.8rem;
}

.cinemas {
  display: flex;
  border: 1px solid black;
  justify-content: left;
  flex-direction: column;
}

.cinema-details {
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.294);
  display: flex;
  width: 85%;
  flex-direction: column;
  margin: 20px auto;
}

.cinema-details h2, 
.cinema-details h4,
.cinema-details h5{
  color:white;
}

.cinema-details h2 {
  margin-bottom: 30px;
}

.cinema-details h4 {
  font-size: 1.3rem;
}

.showTimes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

.showTimes {
  display: flex;
  align-items: center;
  border: 2px solid white;
  color: white;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 40px;
  padding: 0 30px;
  border-radius: 10px;
  font-weight: bolder;
}

.showTimes:hover {
  background-color: white;
  color: red;
  transition: 300ms;
  transform: scale(0.95);
  cursor: pointer;
}

.release-date {
  color: #6c757d!important;
  font-size: 1.6rem!important;
}

.btn a {
  color: white;
}