* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(20, 21, 32);
  color: white;
}

main {
  margin-bottom: 100px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.test {
  max-width: 900px;
  margin: 40px auto;
}

.summary-header {
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.summary-header h2 {
  color: white;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.summary-header a {
  text-decoration: none;
  color: red;
  font-size: 2.5rem;
}

.summaryheader-flex {
  display: flex;
  align-items: baseline;
}

.movie-summary {
  display: flex;
  flex-direction: column;
  background: rgb(0,0,0,0.7)!important;
}

.summary-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width:700px;
}

.summary-img {
  border-radius: 15px;
  margin: 40px 0;
}

.summary-img img {
  height: 380px;
  transform: scale(1);  
}


.summary-info {
  color: white;
  display: flex;
  flex-direction: column;
}

.p-movie-rate {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: gray;
}


.p-movie-address {
  margin: 0;
  padding: 0;
  color: gray;
}

.covid-warning {
  padding: 0;
  color: red;
}

.info-sum-card h2 {
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
}

.info-card-flex {
  display: flex;
  align-items: center;
}

.info-card-flex p {
  margin-right: 5px;
  color: red;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

.info-summary {
  background: rgb(0,0,0,0.7)!important;
  padding: 20px;
}

.info-cinema-num {
  padding: 0;
}

.ticket-info {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
}

.ticket-info h2 {
  margin: 0;
  font-size: 1.3rem;
}

.ticket-info p {
}

.ticket-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(255,255,255,0.1);
}

.ticket-price h2 {
  margin-bottom: 0;
}

.ticket-price p {
  color: red;
  margin-top: 0;
}

.ticket-amount-flex {
  display: flex;
  align-items: center;
}

.ticket-amount-flex button {
  color:white;
  font-size: 1.5rem;
  border: 2px solid red;
  border-radius: 50%;
  width: 33px;
  text-align: center;
  background: none;
}

.ticket-amount-num {
  
  margin: 0px 15px;
  font-size: 1.5rem;
}

.continue {
  text-align: center;
}

.continue-button {
  color: white;
  background: red;
  border: none;
  font-size: 25px;
  padding: 10px 50px;
  margin: 20px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}

.seat-info {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
  transition: 0.8s;
  border-top: 2px solid rgb(255,255,255,0.1);
  display: none;
}

.seat-info h2 {
  margin: 0;
  padding: 40px 0;
  font-size: 1.3rem;
}

.seat-info p {
  padding-bottom: 20px;
}

.seat-info-delete {
  display: none;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
  transition: 0.8s;
}

.continue-button:hover {
  transition: 0.2s;
  background-color: darkred;
  transform: scale(1.05);
}

.min-button:hover {
  transition: 0.2s;
  border: 2px solid darkred;
}

.add-button:hover {
  transition: 0.2s;
  border: 2px solid darkred;
}

.ticket-select:hover {
  transition: 0.2s;
  transform: scale(1.02);
}

.no-tickets {
  display: none;
  text-align: center;
}

.no-tickets p {
  padding:20px 0;
  padding: 0;
  font-size: 20px;
  color: red;
}

.user-input {
  text-align: center;
  color:white;
}
input {
  color:white;
}

.user-input input {
  width: 50%;
  background: none;
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 10px;
}

::placeholder {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.user h2 {
  text-align: center;
}

.user p {
  text-align: center;
  color: red;
}

.payment-input input {
  width: 50%;
  background: none;
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 10px;
}

.payment {
  display: none;
}

.payment-info{
  margin: 0;
  padding: 40px 0;
  font-size: .9rem;
  display: none;
}

.payment p {
  text-align: center;
  color: red;
  margin-top: 50px;
}

.payment-input {
  text-align: center;
}

.card-input {
  display: flex;
  width: 52.5%;
  margin: 0 auto;
}

.address-input {
  display: flex;
  width: 52.5%;
  margin: 0 auto;
}

input[name="Expiration Date (MM/YYYY)"] {
  width: 100%;
}

input[name="CVC/CVV"] {
  width: 30%;
}

input[name="State/Province"] {
  width: 100%;
}

input[name="Postal Code"] {
  width: 30%;
}


img[alt="payment-icons"] {
  width: 400px;
  height: 45px;
  object-fit:cover;
  overflow:hidden;
}

.img-wrapper {
  text-align: center;
  margin: 20px auto;
}

img[alt="payment-icons"] {
}

.user {
  display: none;
}

.sel-seats {
  color: white;
  background: red;
  border: none;
  font-size: 20px;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 200;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.sel-seats:hover {
  transition: 0.2s;
  background-color: darkred;
  transform: scale(1.05);
}

.button-flex {
  display: flex;
  justify-content: center;
}

.seat-selec {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
  transition: 0.8s;
  display: none;
}

.seat-selec-flex {
  display: flex;
  align-items: center;
}

.seat-selec-flex p {
  background-color: red;
  margin: 10px;
  padding: 25px;
  font-size: 25px;
  border-radius: 10px;
  width: 80px;
  text-align: center;
}

.seat-selec-flex {
  margin-bottom: 30px;
}


.seat-selec-flex p:hover {
  transition: 0.2s;
  background-color: darkred;
  transform: scale(1.05);
}

.selec-tickets {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  transition: 0.8s;
  border-top: 2px solid rgb(255,255,255,0.1);
}

.elder-select {
  border-bottom: none;
}

.tickets-flex {
  display: flex;
  justify-content: space-between;
}

.tickets-flex button {
  color: red;
  background: none;
  font-size: 40px;
  border: none;
}


.tickets-flex button:hover {
  transition: 0.2s;
  color: darkred;
  transform: scale(1.05);
}


.payment-button-css{
  text-align: center;
  display: none;
}

.payment-button{
  color: white;
  background: red;
  border: none;
  font-size: 25px;
  padding: 10px 50px;
  margin: 20px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}