
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  color: white;
}

main {
  margin-bottom: 100px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.summary-header {
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.summary-header h2 {
  color: white;
  margin-left: 40%;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.summary-header a {
  text-decoration: none;
  color: red;
  font-size: 2.5rem;
}

.summaryheader-flex {
  display: flex;
  align-items: baseline;
}

.movie-summary {
  background-color: rgb(0,0,0,0.7);
}

.movie-overlay {
  background-image: url("images/johnwick.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 20;
}

.summary-flex {
  display: flex;
  align-items: center;
}

.summary-img img {
  width: 200px;
  height: 300px;
  margin: 20px;
  border: 3px solid gray;
  border-radius: 15px;
}

.summary-info {
  color: white;
  margin-bottom: 35px;
}

.p-movie-rate {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: gray;
}

.h2-movie-name {
  margin: 30px 0px 0px 0px;
  padding: 0;
}

.summary-info-bottom {
  margin-top: 195px;
}

.p-movie-address {
  margin: 0;
  padding: 0;
  color: gray;
}

.covid-warning {
  margin: 5px 0px 0px 0px;
  padding: 0;
  color: red;
  
}

.info-sum-card h2 {
  font-size: 18px;
  margin: 0;
  padding-top: 25px;
}

.info-card-flex {
  display: flex;
  align-items: center;
}

.info-card-flex p {
  margin-right: 5px;
  color: red;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

.info-summary {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
}

.info-cinema-num {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 20px;
}

.ticket-info {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
}

.ticket-info h2 {
  margin: 0;
  padding-top: 25px;
  font-size: 1.3rem;
}

.ticket-info p {
  padding-bottom: 20px;
}

.ticket-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(255,255,255,0.1);
}

.ticket-price h2 {
  margin-bottom: 0;
}

.ticket-price p {
  color: red;
  margin-top: 0;
}

.ticket-amount-flex {
  display: flex;
  align-items: center;
}

.ticket-amount-flex button {
  color:white;
  font-size: 1.5rem;
  border: 2px solid red;
  border-radius: 50%;
  width: 33px;
  text-align: center;
  background: none;
}

.ticket-amount-num {
  
  margin: 0px 15px;
  font-size: 1.5rem;
}

.continue {
  text-align: center;
}

.continue-button {
  color: white;
  background: red;
  border: none;
  font-size: 25px;
  padding: 10px 50px;
  margin-top: 60px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}

.seat-info {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
  transition: 0.8s;
  border-top: 2px solid rgb(255,255,255,0.1);
  display: none;
}

.seat-info h2 {
  margin: 0;
  padding-top: 25px;
  font-size: 1.3rem;
}

.seat-info p {
  padding-bottom: 20px;
}

.seat-info-delete {
  display: none;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border-bottom: 2px solid rgb(255,255,255,0.1);
  transition: 0.8s;
}

.continue-button:hover {
  transition: 0.2s;
  background-color: darkred;
  transform: scale(1.05);
}

.min-button:hover {
  transition: 0.2s;
  border: 2px solid darkred;
}

.add-button:hover {
  transition: 0.2s;
  border: 2px solid darkred;
}

.ticket-select:hover {
  transition: 0.2s;
  transform: scale(1.02);
}

.no-tickets {
  display: none;
  text-align: center;
}

.no-tickets p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: red;
}

.user-input {
  text-align: center;
}

.user-input input {
  width: 50%;
  background: none;
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 10px;
}

::placeholder {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.user h2 {
  text-align: center;
}

.user p {
  text-align: center;
  color: red;
}

.payment-input input {
  width: 50%;
  background: none;
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 10px;
}

.payment {
  display: none;
}

.payment p {
  text-align: center;
  color: red;
  margin-top: 50px;
}

.payment-input {
  text-align: center;
}

.card-input {
  display: flex;
  width: 52.5%;
  margin: 0 auto;
}

.address-input {
  display: flex;
  width: 52.5%;
  margin: 0 auto;
}

input[name="Expiration Date (MM/YYYY)"] {
  width: 100%;
}

input[name="CVC/CVV"] {
  width: 30%;
}

input[name="State/Province"] {
  width: 100%;
}

input[name="Postal Code"] {
  width: 30%;
}


img[alt="payment-icons"] {
  width: 30%;
}

.img-wrapper {
  text-align: center;
}

img[alt="payment-icons"] {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0px 10px;
}

.user {
  display: none;
}

.sel-seats {
  color: white;
  background: red;
  border: none;
  font-size: 20px;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 200;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.sel-seats:hover {
  transition: 0.2s;
  background-color: darkred;
  transform: scale(1.05);
}

.button-flex {
  display: flex;
  justify-content: center;
}

.seat-selec {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    border-bottom: 2px solid rgb(255,255,255,0.1);
    transition: 0.8s;
    display: none;
}

.seat-selec-flex {
  display: flex;
  align-items: center;
}

.seat-selec-flex p {
  background-color: red;
  margin: 10px;
  padding: 25px;
  font-size: 25px;
  border-radius: 10px;
  width: 80px;
  text-align: center;
}

.seat-selec-flex {
  margin-bottom: 30px;
}


.seat-selec-flex p:hover {
  transition: 0.2s;
  background-color: darkred;
  transform: scale(1.05);
}

.selec-tickets {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  transition: 0.8s;
  border-top: 2px solid rgb(255,255,255,0.1);
}

.elder-select {
  border-bottom: none;
}

.tickets-flex {
  display: flex;
  justify-content: space-between;
}

.tickets-flex button {
  color: red;
  background: none;
  font-size: 40px;
  border: none;
}


.tickets-flex button:hover {
  transition: 0.2s;
  color: darkred;
  transform: scale(1.05);
}
