* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-bottom: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: rgb(253, 183, 59);
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
}

nav img {
  width: 35%;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nav-logo h1 {
  margin-right: 5px;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  border: 3px solid  rgb(253, 183, 59);
  border-radius: 15px;
  height: 30px;
  width: 250px;
  padding: 0;
}

.search-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.search-input h2 {
  padding: 0;
  margin-bottom: 5px;
  font-size: medium;
  color: rgb(253, 183, 59);
}

::placeholder {
  color: lightgray;
  font-size: large;
  padding: 10px;
}

.search-button {
  background-color: rgb(253, 183, 59);
  color: white;
  text-align: center;
  padding: 7px 60px;
  border-radius: 15px;
}

.button {
  width: 150px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

.search-h1 {
  padding: 0;
  margin-top: 100px;
  font-size: x-large;
}

.movie-header {
  display: flex;
  align-items: baseline;
}

.movie-p {
  text-decoration: none;
  margin-left: 15px;
  color: #3867d6;
  font-weight: bold;
}

span {
  position: absolute;
  font-size: 60px;
  font-weight: 10;
  color: black;
  cursor: pointer;
  z-index: 1;
  left: .99%;
  top: 50%;
}

span:nth-of-type(2) {
  left: 97.5%;
}

.movie-flex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
}

.movie-flex::-webkit-scrollbar {
  visibility: hidden;
}

.movie-card {
  min-width: 310px;
  position: relative;
  left: 0px;
  text-align: center;
  transition: 0.5s;
  height: 400px;
}

.movie-card h3 {
  color: rgb(253, 183, 59);
  margin: 0;
  padding: 0;
}

.movie-card p {
  margin: 0;
  padding: 0;
  color: gray;
}

.movie-card i {
  color: rgb(253, 183, 59);
}

.movie-card img {
  width: 250px;
  height: 300px;
}

.slider {
  height: 400px;
}
