
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #F8F8F8;
}

main {
  margin-bottom: 100px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

nav {
  background-color: rgb(253, 183, 59);
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
}

nav img {
  width: 35%;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nav-logo h1 {
  margin-right: 5px;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summary-header {
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background: #F8F8F8;
}

.summary-header h2 {
  color: black;
  margin-left: 40%;
  font-size: 20px;
}

.summary-header a {
  text-decoration: none;
  color: rgb(253, 183, 59);
  font-size: 2.5rem;
}

.summaryheader-flex {
  display: flex;
  align-items: center;
}

.movie-summary {
  background-color: black;
}

.summary-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.summary-img img {
  width: 200px;
  height: 300px;
  margin: 20px;
  border: 3px solid gray;
  border-radius: 15px;
  position: relative;
}

.summary-info {
  color: white;
}

.summary-img-text p {
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  background-color: rgb(253, 183, 59);
  border-radius: 15px 15px 0px 0px;
  transform: translate(-50%, -50%);
  top: 20.5%;
  left: 25.58%;
  padding: 5px 47px;
}

.p-movie-rate {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: gray;
}

.h2-movie-name {
  margin: 30px 0px 0px 0px;
  padding: 0;
}

.summary-info-bottom {
  margin-top: 195px;
}

.p-movie-address {
  margin: 0;
  padding: 0;
  color: gray;
}

.covid-warning {
  margin: 5px 0px 0px 0px;
  padding: 0;
  color: #2e86de;
  font-weight: bold;
}

.info-sum-card h2 {
  font-size: 18px;
  margin: 0;
  padding-top: 25px;
}

.info-card-flex {
  display: flex;
  align-items: center;
}

.info-card-flex p {
  margin-right: 5px;
  font-weight: bold;
  color: #2e86de;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

.info-summary {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background: #F8F8F8;
  border-bottom: 2px solid #2e86de;
}

.info-cinema-num {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 20px;
}

.ticket-info {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background: #F8F8F8;
  border-bottom: 2px solid #2e86de;
}

.ticket-info h2 {
  margin: 0;
  padding-top: 25px;
  font-size: 1.3rem;
}

.ticket-info p {
  padding-bottom: 20px;
}

.ticket-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
}

.ticket-price h2 {
  margin-bottom: 0;
}

.ticket-price p {
  color: #484848;
  margin-top: 0;
}

.ticket-amount-flex {
  display: flex;
  align-items: center;
}

.ticket-amount-flex h2 {
  color:  rgb(253, 183, 59);
  font-size: 1.5rem;
  border: 2px solid  rgb(253, 183, 59);
  border-radius: 50%;
  width: 30px;
  text-align: center;
}

.ticket-amount-flex p {
  font-weight: bold;
  margin: 0px 15px;
  font-size: 1.5rem;
}